<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?_url=/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <add name="PHP_VIA_FastCGI" path="*.php" verb="GET,POST,DELETE,PUT" modules="CgiModule" scriptProcessor="c:\php\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>
